.usericon{

    border-radius: 5px;
    width: 50px;
    height: 50px;
}
.brandicon{
    width: 20px;
    height: 20px;
}
　.skin-box-bd{background:none;}
　　.menu-list{background:none;}.link{background:none;}
　　.menu{background:none;}
　　.all-cats{background:none;}
　　.all-cats{display:none;}
　　.menu-list.menu.title{color:#CF6AA6;}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.header-label{
    padding: 0px 5px 0px 5px;
}
.header-a{
    margin: 5px auto ;
}
.headerbutton{

    padding: 0px 0px 0px 0px;
}

.headerbutton:hover{
    background-color:  #8a6d3b !important;
    color: #ffffff !important;
}
.headerbutton:focus{
    background-color:  #8a6d3b;
    color: #ffffff;
}
.headerbutton:active{
    background-color:  #8a6d3b;
    color: #ffffff;
}
.headerbutton:visited{
    color:  #8a6d3b;
}
.headerbutton:visited:hover{
    background-color:  #8a6d3b;
    color: #ffffff;
}



.replybtn{
    display: block;
    width: 50%;
    margin:0 auto;
}
.first{
    margin-top: 20px;
}
.qqloginbutton{
    background-image: url("../src/photo/connect_logo_7.png");
    width: 63px;
    height: 24px;
    border: none;
}
.nav-position{
    padding-left: 22.5%;
}
.navbar-bg{
    background-color: rgba(26,192,234,1);
    height:100px;
}
.navbar-bg2{
    background-color: white;
    box-shadow: 3px 3px 2px rgba(202,202,202,0.5) ;
    height:60px;

}
.nav-auth-btn{
    margin-top: 10px;
    border-color: #ffffff;
    width: 100px;
    margin-right: 20px;
    background-color: transparent;
    color: white;
}
.nav-auth-btn:hover{
    background-color: #ffffff;
    transition: all 0.5s;
    color: rgba(26,192,234,1);

}
.nav-icon img{
    margin-left: 40px;
    width: 220px;
}
.navbar-brand-text{
    color:white;
}
.navbar-li{
    width: 17%;
    padding-left:0px;
    padding-right:0px;
}
.navbar-a{
    background-color:transparent;
    color:  rgba(83,89,92,1) ;
    text-align: center;

    font-family: "微软雅黑";
    font-size: 25px;
}
.navbar-a:hover{
    background-color:transparent;
    color:white;
}
.new1{
    margin-top: 20px;
    display: none;
    height: 5px;
}
.navbar-a:hover .new1{
    transition: all 0.5s;
    display: block;
    background-color: rgba(26,192,234,1);
}
.new2{
    margin-top: 20px;
    display: none;
    height: 5px;
}
.navbar-a:hover .new2{
    transition: all 0.5s;
    display: block;
    background-color: rgba(255,64,62,1);
}
.new3{
    margin-top: 20px;
    display: none;
    height: 5px;
}
.navbar-a:hover .new3{
    transition: all 0.5s;
    display: block;
    background-color: rgba(255,183,0,1);
}
.new4{
    margin-top: 20px;
    display: none;
    height: 5px;
}
.navbar-a:hover .new4{
    transition: all 0.5s;
    display: block;
    background-color: rgba(255,120,0,1);
}
.nav>li>a:hover{
    background-color:transparent;
}
#full-screen-background-image {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

#wrapper {
    position: relative;
    width: 800px;
    min-height: 400px;
    margin: 100px auto;
    color: #333;
}

.hover-red:hover{color:rgba(256,256,256,1);}
.unresize{
    resize: none;
}
.bootstrap-switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 29px;
    overflow: hidden;
    font-size: 15px;
    line-height: 29px;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 30px;

    -webkit-mask-box-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgODAgMjkiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDgwIDI5IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik04MCwxNC41YzAsOC02LjUsMTQuNS0xNC41LDE0LjVoLTUxQzYuNSwyOSwwLDIyLjUsMCwxNC41bDAsMEMwLDYuNSw2LjUsMCwxNC41LDBoNTFDNzMuNSwwLDgwLDYuNSw4MCwxNC41TDgwLDE0LjV6Ii8+DQo8L3N2Zz4NCg==) 0 0 stretch;
}
.bootstrap-switch > div {
    display: inline-block;
    width: 132px;
    border-radius: 30px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.bootstrap-switch > div > span {
    z-index: 1;
    display: inline-block;
    width: 66px;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: box-shadow .25s ease-out;
    transition: box-shadow .25s ease-out;
}
.bootstrap-switch > div > span > [class^="fui-"] {
    text-indent: 0;
}
.bootstrap-switch > div > label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
}
.bootstrap-switch input[type="radio"],
.bootstrap-switch input[type="checkbox"] {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}
.bootstrap-switch-handle-on {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-default {
    box-shadow: inset 0 0 transparent, -16px 0 0 #bdc3c7;
}
.bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-default:before {
    background-color: #7f8c9a;
    border-color: #bdc3c7;
}
.bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-primary {
    box-shadow: inset 0 0 transparent, -16px 0 0 #34495e;
}
.bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-primary:before {
    background-color: #1abc9c;
    border-color: #34495e;
}
.bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-success {
    box-shadow: inset 0 0 transparent, -16px 0 0 #2ecc71;
}
.bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-success:before {
    background-color: #fff;
    border-color: #2ecc71;
}
.bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-warning {
    box-shadow: inset 0 0 transparent, -16px 0 0 #f1c40f;
}
.bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-warning:before {
    background-color: #fff;
    border-color: #f1c40f;
}
.bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-info {
    box-shadow: inset 0 0 transparent, -16px 0 0 #3498db;
}
.bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-info:before {
    background-color: #fff;
    border-color: #3498db;
}
.bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-danger {
    box-shadow: inset 0 0 transparent, -16px 0 0 #e74c3c;
}
.bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-handle-off.bootstrap-switch-danger:before {
    background-color: #fff;
    border-color: #e74c3c;
}
.bootstrap-switch-handle-off {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.bootstrap-switch-handle-off:before {
    position: absolute;
    top: 0;
    left: 51px;
    z-index: 100;
    display: inline-block;
    width: 29px;
    height: 29px;
    padding: 0;
    text-align: center;
    vertical-align: top;
    content: " ";
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 50%;
    -webkit-transition: border-color .25s ease-out, background-color .25s ease-out;
    transition: border-color .25s ease-out, background-color .25s ease-out;
}
.bootstrap-switch-animate > div {
    -webkit-transition: margin-left .25s ease-out;
    transition: margin-left .25s ease-out;
}
.bootstrap-switch-on > div {
    margin-left: 0;
}
.bootstrap-switch-off > div {
    margin-left: -51px;
}
.bootstrap-switch-disabled,
.bootstrap-switch-readonly {
    cursor: default;
    filter: alpha(opacity=50);
    opacity: .5;
}
.bootstrap-switch-disabled > div > span,
.bootstrap-switch-readonly > div > span,
.bootstrap-switch-disabled > div > label,
.bootstrap-switch-readonly > div > label {
    cursor: default !important;
}
.bootstrap-switch-focused {
    outline: 0;
}
.bootstrap-switch-default {
    color: #fff;
    background-color: #bdc3c7;
}
.bootstrap-switch-default ~ .bootstrap-switch-handle-off:before {
    background-color: #7f8c9a;
    border-color: #bdc3c7;
}
.bootstrap-switch-on .bootstrap-switch-default ~ .bootstrap-switch-handle-off {
    box-shadow: inset 16px 0 0 #bdc3c7;
}
.bootstrap-switch-primary {
    color: #1abc9c;
    background-color: #34495e;
}
.bootstrap-switch-primary ~ .bootstrap-switch-handle-off:before {
    background-color: #1abc9c;
    border-color: #34495e;
}
.bootstrap-switch-on .bootstrap-switch-primary ~ .bootstrap-switch-handle-off {
    box-shadow: inset 16px 0 0 #34495e;
}
.bootstrap-switch-info {
    color: #fff;
    background-color: #3498db;
}
.bootstrap-switch-info ~ .bootstrap-switch-handle-off:before {
    background-color: #fff;
    border-color: #3498db;
}
.bootstrap-switch-on .bootstrap-switch-info ~ .bootstrap-switch-handle-off {
    box-shadow: inset 16px 0 0 #3498db;
}
.bootstrap-switch-success {
    color: #fff;
    background-color: #2ecc71;
}
.bootstrap-switch-success ~ .bootstrap-switch-handle-off:before {
    background-color: #fff;
    border-color: #2ecc71;
}
.bootstrap-switch-on .bootstrap-switch-success ~ .bootstrap-switch-handle-off {
    box-shadow: inset 16px 0 0 #2ecc71;
}
.bootstrap-switch-warning {
    color: #fff;
    background-color: #f1c40f;
}
.bootstrap-switch-warning ~ .bootstrap-switch-handle-off:before {
    background-color: #fff;
    border-color: #f1c40f;
}
.bootstrap-switch-on .bootstrap-switch-warning ~ .bootstrap-switch-handle-off {
    box-shadow: inset 16px 0 0 #f1c40f;
}
.bootstrap-switch-danger {
    color: #fff;
    background-color: #e74c3c;
}
.bootstrap-switch-danger ~ .bootstrap-switch-handle-off:before {
    background-color: #fff;
    border-color: #e74c3c;
}
.bootstrap-switch-on .bootstrap-switch-danger ~ .bootstrap-switch-handle-off {
    box-shadow: inset 16px 0 0 #e74c3c;
}
.bootstrap-switch-square .bootstrap-switch {
    border-radius: 4px;

    -webkit-mask-box-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgODAgMjkiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDgwIDI5IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik04MCwyNWMwLDIuMi0xLjgsNC00LDRINGMtMi4yLDAtNC0xLjgtNC00VjRjMC0yLjIsMS44LTQsNC00aDcyYzIuMiwwLDQsMS44LDQsNFYyNXoiLz4NCjwvc3ZnPg0K) 0 0 stretch;
}
.bootstrap-switch-square .bootstrap-switch > div {
    border-radius: 4px;
}
.bootstrap-switch-square .bootstrap-switch .bootstrap-switch-handle-on {
    text-indent: -15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.bootstrap-switch-square .bootstrap-switch .bootstrap-switch-handle-off {
    text-indent: 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.bootstrap-switch-square .bootstrap-switch .bootstrap-switch-handle-off:before {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}
.bootstrap-switch-square .bootstrap-switch-off .bootstrap-switch-handle-off:before {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.service_position{
    text-align: left !important;
}

.nav-tablist{
    margin:0 auto;
    width: 420px;
}
.nav-tablist li{

}